body {
  margin: 0 auto;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;

  background-color: #ffffff;
}
.modal {
  display: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  width: 940px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.header-wrapper {
  background-color: #293449;
}
.header-top {
  height: 42px;
  display: flex;
}
.header-top a {
  color: #ffffff;
}
.main-header-logo {
  background-color: #ee3643;
  width: 109px;
  height: 18px;
  padding-left: 55px;
  padding-right: 56px;
  padding-top: 14px;
  padding-bottom: 15px;
  display: block;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}
.main-header-logo:hover {
  background-color: #ca2c37;
}
.main-header-logo:active {
  background-color: #ba2732;
}
.input-search {
  width: 270px;
  height: 42px;
  color: #ffffff;
  background-color: #293449;
  border: none;
}
.input-search::-ms-input-placeholder {
  color: #ffffff;
}
.input-search:-ms-input-placeholder {
  color: #ffffff;
}
.input-search::-webkit-input-placeholder {
  color: #ffffff;
}
.input-search::placeholder {
  color: #ffffff;
}
.input-search:hover {
  background-color: #212a3a;
  color: #ffffff;
}
.input-search:focus {
  background-color: #ffffff;
  color: #000000;
}
.top-header-button {
  line-height: 18px;
  padding-top: 14px;
  padding-bottom: 13px;
}
.bookmark {
  width: 78px;
  padding-left: 44px;
  padding-right: 28px;
}
.basket {
  width: 69px;
  padding-left: 50px;
  padding-right: 31px;
}
.top-header-button:hover {
background-color: #161d29;
}
.top-header-button:active {
  color:rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}
.order-button {
  background-color: #63a63e;
  line-height: 18px;
  padding-left: 20px;
  padding-right: 22px;
  width: 108px;
  padding-top: 14px;
  padding-bottom: 13px;
}
.order-button:hover {
  background-color: #5fbb2d;
}
.order-button:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}
.header-bottom {
  background-color: #f4f7f9;
  height: 278px;
}

.header-bottom-container {
  display: flex;
  padding-bottom: 44px;
  padding-top: 46px;
}
.about {
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: italic;
  text-align: left;
  width: 196px;
  padding-left: 53px;
  margin: 0;
}
.user-menu {
  display: flex;
  margin-left: auto;
}
.phone-back {
  width: 145px;
  height: 15px;
  border: solid 3px #ffffff;
  padding-left: 67px;
  padding-right: 52px;
  padding-top: 13px;
  padding-bottom: 11px;
}
.header-bootom-phone{
  width: 270px;
  height: 68px;
  margin-left: 71px;
}
.user-container {
  margin-left: 51px;
  height: 68px;
  width: 300px;
  margin-top: 46px;
  margin-right: 130px;
  display: flex;
  flex-direction: column;
}
.header-bootom-phone a {
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
}
.address {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;

}
.current-user-menu {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.current-user-button {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  padding-top: 14px;
  padding-right: 69px;
  padding-bottom: 11px;
  padding-left: 47px;
  margin-bottom: 0px;
}
.user-login-link {
  margin-right: 10px;
  height: 20px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 48px;
  padding-right: 27px;
}
.user-registration {
  height: 20px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 25px;
  padding-right: 25px;
}
.user-login-link,
.user-registration,
.user-current-accaunt {
  background-color: #ffffff;
}
.user-login-link:hover,
.user-registration:hover,
.user-current-accaunt:hover {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  background-color: #ffffff;
}
.user-login-link:active,
.user-registration:active,
.user-current-accaunt:active {
  font-size: 21px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}
.user-menu-container {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  text-decoration: underline;
  padding-left: 17px;
  padding-right: 71px;
  margin-top: 3px;
}
.small-user-button {
  color:#32425c;
}
.small-user-button:hover {
  color: #ee3643;
}
.user-order {
  margin-left: 18px;
}
.small-user-button:active {
  color: rgba(50, 66, 92, 0.3);
}
.user-accaunt {
  margin-left: 32px;
}
.site-navigation {
  margin: 0;
  padding: 0 25px;
  display: flex;
  height: 60px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  list-style: none;
}
.site-navigation-button a {
  padding-left: 30px;
  padding-top: 22px;
  padding-bottom: 20px;
  padding-right: 30px;
  font-family: 'Cuprum', Arial, sans-serif;
  color: #ffffff;
  display:block;
}
.site-navigation-button a:hover {
  background-color: #293449;
}
.site-navigation-button a:active{
  background-color: #1d2739;
  color:rgba(255, 255, 255, 0.5);
}
.services {
  background-color: #f2f6f8;
  color: #000000;
  text-align: left;
}
.container-catalog {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0;
  padding: 0;
  height: auto;

}
.breadcrumbs {
  margin: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  text-align: left;
  font-size: 13px;
  line-height: 18px;
  height: 9px;
  display: flex;
  list-style: none;
  padding-top: 25px;
  padding-bottom: 25px;
}
.crumb, .current-crumb {
  margin-left: 40px;
}
.breadcrumbs a,
.current-crumb {
  color: #000000;
}
.page-title {
  margin: 0;
  font-weight: 400;
  color: #32425c;
  background-color: #f2f6f8;
  font-size: 30px;
  line-height: 30px;
  height: 23px;
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 30px;
  margin-bottom: 20px;
}
.filter-titele {
  font-style: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  background-color: #f7f3ec;
  width: 53px;
  height: 28px;
  padding-left: 18px;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  padding-right: 149px;
  font-weight: 100;
}
.catalog-columns {
  display: flex;
}
.catalog {
  width: 720px;
  height: 1222px;
  margin-bottom: 52px;
}
.sorting {
  width: 700px;
  height: 38px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}
.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}
.pagination-list {
  margin: 0;
  padding: 0;

  list-style: none;
  height: 38px;
}
.item:nth-child(3n) {
  margin-right: 0;
}
.item {
  width: 220px;
  height: 320px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.filter {
  font-style: 'PT Sans', Arial, sans-serif;
  color: #000000;
}

.filter fieldset {
  border: none;
}
.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}
.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
}
.filter-button {
  font-size: 13px;
  line-height: 18px;
  border: solid 1px #e5e5e5;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}
.catalog-list {
  list-style: none;
}
.item-titele {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.item {
  background-color: #ffffff;
}
.old-price {
  color: #999999;
  background-color: #ffffff;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
  text-decoration: overline;
}
.new-price {
  color: #ffffff;
  background-color: red;
}
.button-buy {
  font-family: 'Cuprum', Arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #63a63e;
  text-align: center;
}
.button-buy:hover {
  background-color: #5fbb2d;
}
.button-buy:active {
  background-color: #518534;
}
.button-order {
  font-family: 'Cuprum', Arial, sans-serif;
  color: #32425c;
  text-align: center;
  border: solid 3px #63a63e;
  background-color: #ffffff;
}
.button-order:hover {
  border: solid 3px #32425c;
}
.button-order:active {
  opacity: 0.3;
}
.delivery {
  display: flex;
  height: 368px;
  padding-top: 42px;
  padding-bottom: 74px;
}
.delivery-info {
  width: 520px;
  margin-right: 120px;
}
.contacts {
  width: 300px;
}
.delivery-info-titele,
.contacts-titele {
  text-align: left;
  font-size: 30px;
  line-height: 30px;
  color:#000000;
}
.postal-services {
  padding: 0;
  list-style: none;
  text-align: left;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.delivery-middle-container {
  width: 586px;
  height: 161px;
  margin-bottom: 40px;
}
.delivery-info-text,
.contacts-text {
  text-align: left;
  color:#000000;
  font-size: 13px;
  line-height: 24px;
  font-style: 'PT Sans', Arial, sans-serif;
}
.about-company,
.map-button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  padding-top: 14px;
  padding-bottom: 12px;
}
.about-company {
  padding-left: 41px;
  padding-right: 40px;
}
.map-button {
  padding-left: 63px;
  padding-right: 59px;
}
.contacts-text,
.delivery-info-text {
  margin-bottom: 36px;
}
.map {
  margin-bottom: 40px;
  display: block;
}
.somewords {
  width: 1200px;
  height: 261px;
  background-color: #f4f7f9;
  color: #000000;
}
.footer-top-wrapper {
  background-color: #32425c;
}
.footer-top {
  display: flex;
  height: 193px;
  font-size: 18px;
  line-height: 24px;
  flex-direction: column;
}
.main-footer-logo {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  height: 23px;
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 20px;
  padding-bottom: 25px;
}
.footer-top-up,
.footer-top-down {
  display: flex;
}
.footer-top-up {
  height: 68px;
  margin-bottom: 32px;
}
.footer-top-down {
  height: 42px;
}
.footer-top-down {
  display: flex;
}
.bottom-navigation-button {
  margin-left: 60px;
}
.footer-top-address {
  color: #f1f5f7;
  padding: 0;
  margin: 0;
}
.bottom-navigation-up {
  align-items: flex-end;
}
.bottom-navigation-up,
.bottom-navigation-down {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}
.bottom-navigation-up a {
  color: #f1f5f7;
}
.bottom-navigation-down a {
  color: #ffd180;
}
.bottom-navigation-up a:hover,
.bottom-navigation-down a:hover {
  text-decoration: underline;
}
.bottom-navigation-up a:active,
.bottom-navigation-down a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}
.footer-bottom-wrapper {
  background-color: #293449;
}
.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  height: 72px;
  padding-top: 35px;
}
.technomart {
  height: 42px;
  margin: 0;
  padding-top: 4px;
  margin-right: 158px;
}
.social-button {
  background-color: #212a3a;
  width: 42px;
  height: 42px;
  margin-left: 3px;
}
.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}
.feedback-mail {
  margin: 0;
  height: 42px;
  text-align: left;
  margin-left: 119px;
  padding-top: 5px;
}
.footer-feedback {
  margin: 0;
  text-align: left;
  height: 42px;
  margin-left: 53px;
  padding-top: 4px;
}
.feedback-link {
  color: #ffd180;
}
.feedback-link:hover {
  text-decoration: underline;
}
.feedback-link:active {
  text-decoration: none;
  color: #ee3643;
}
