body {
  margin: 0;
  padding: 0;

  width: 1200px;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;

  background-color: skyblue;
}
a {
  text-decoration: none;
}
.header-top {
  background-color: #293449;
}
.header-top a {
  color: #ffffff;
}
.main-header-logo {
  background-color: #ee3643;
}
.main-header-logo:hover {
  background-color: #ca2c37;
}
.main-header-logo:active {
  background-color: #ba2732;
}
.input-search {
  color: #ffffff;
  background-color: #293449;
  border: none;
}
.top-header-button {
  font-size: 17px;
  line-height: 18px;
  text-align: left;
}
.top-header-button:hover {
  background-color: #212a3a;
}
.top-header-button:hover {
background-color: #161d29;
}
.top-header-button:active {
  color:rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}
.order-button {
  background-color: #63a63e;
}
.order-button:hover {
  background-color: #5fbb2d;
}
.order-button:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}
.header-bottom {
  background-color: #f4f7f9;
}
.about {
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-family: 'Cuprum', sans-serif;
  font-style: italic;
  text-align: left;
}
.phone {
  text-align: left;
  border: solid 3px #ffffff;
}
.header-bootom-phone a {
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0,42px;
  text-align: left;
}
.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: left;
}
.user-block a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}
.user-login-link,
.user-registration,
.user-current-accaunt {
  background-color: #ffffff;
}
.user-login-link:hover,
.user-registration:hover {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  background-color: #ffffff;
}
.user-login-link:active,
.user-registration:active,
.user-current-accaunt:active {
  font-size: 21px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  rgba(0, 0, 0, 0.3)
}
.user-tools a {
  font-size: 16px;
  color:#32425c;
  text-decoration: underline;
  text-align: left;
}
.small-user-button:hover {
  color: #ee3643;
}
.small-user-button:active {
  color: rgba(50, 66, 92, 0.3);
}
.site-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  text-align: left;
  background-color: #32425c;
}
.site-navigation-button {
  font-family: 'Cuprum', sans-serif;
  color: #ffffff;

}
.site-navigation-button a:hover {
  background-color: #293449;
}
.site-navigation-button a:active{
  background-color: #1d2739;
  color:rgba(255, 255, 255, 0.5);
}
.services {
  background-color: #f2f6f8;
  color: #000000;
  text-align: left;
}
.breadcrumbs {
  font-family: 'PT Sans', sans-serif;
  text-align: left;
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
}
.breadcrumbs a {
  color: #000000;
}
.page-title {
  color: #32425c;
  background-color: #f2f6f8;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
}
.filter {
  font-style: 'PT Sans', sans-serif;
  color: #000000;
}
.filter fieldset {
  border: none;
}
.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}
.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
}
.filter-button {
  font-size: 13px;
  line-height: 18px;
  border: solid 1px #e5e5e5;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}
.catalog-list {
  list-style: none;
}
.item-titele {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.item {
  background-color: #ffffff;
}
.old-price {
  color: #999999;
  background-color: #ffffff;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
  text-decoration: overline;
}
.new-price {
  color: #ffffff;
  background-color:
}
.button-buy {
  font-family: 'Cuprum', sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #63a63e;
  text-align: center;
}
.button-buy:hover {
  background-color: #5fbb2d;
}
.button-buy:active {
  background-color: #518534;
}
.button-order {
  font-family: 'Cuprum', sans-serif;
  color: #32425c;
  text-align: center;
  border: solid 3px #63a63e;
  background-color: #ffffff;
}
.button-order:hover {
  border: solid 3px #32425c;
}
.button-order:active {
  opacity: 0.3;
}
.delivery-info-titele,
.contacts-titele {
  text-align: left;
  font-size: 30px;
  line-height: 30px;
  color:#000000;
}
.postal-services {
  text-align: left;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.delivery-info-text,
.contacts-text {
  text-align: left;
  color:#000000;
  font-size: 13px;
  line-height: 24px;
  font-style: 'PT Sans', sans-serif;
}
.about-company,
.map-button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
}
.footer-top {
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
}
.footer-top p {
  text-align: left;
  color: #f1f5f7;
}
.bottom-navigation-up a {
  color: #f1f5f7;
}
.bottom-navigation-down a {
  color: #ffd180;
}
.bottom-navigation-up a:hover,
.bottom-navigation-down a:hover {
  text-decoration: underline;
}
.bottom-navigation-up a:active,
.bottom-navigation-down a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}
.footer-bottom {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
}
.main-footer-logo {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}
.social-button {
  background-color: #212a3a;
}
.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}
.footer-feedback {
  text-align: left;
}
.feedback-link {
  color: #ffd180;
}
.feedback-link:hover {
  text-decoration: underline;
}
.feedback-link:active {
  text-decoration: none;
  color: #ee3643;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
