body {
  margin: 0 auto;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header-wrapper {
  background-color: #293449;
}

.promo-block {
  display: flex;
  padding-top: 59px;
  padding-bottom: 52px;
}
.promo-block-first-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
}

.promo-block-second-wrapper {
  display: flex;
  flex-direction: column;
}

.promo-block-item {
  color: #ffffff;
  position: relative;
  width: 277px;
  height: 75px;
  padding-left: 23px;
  padding-top: 21px;
  padding-bottom: 27px
}

.promo-block-item h3 {
  margin: 0;
  margin-bottom: 13px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.promo-block-item .flag {
  position: absolute;
  top: 0px;
  right: 0px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.promo-block-item .new-flag {
  background: url(../img/new-flag.png) no-repeat 0 0;
}

.materials {
  background-color: #ffbf47;
  margin-bottom: 20px;
  margin-right: 20px;
}

.materials::before {
  content: "";

  position: absolute;

  top: 31px;
  right: 43px;

  width: 44px;
  height: 65px;

  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.instruments {
  background-color: #3bbce3;
  margin-bottom: 20px;
}

.instruments::before {
  content: "";

  position: absolute;

  top: 33px;
  right: 28px;

  width: 75px;
  height: 61px;

  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.technology {
  background-color: #dc91d8;
  margin-bottom: 20px;
}

.technology::before {
  content: "";

  position: absolute;

  top: 31px;
  right: 31px;

  width: 78px;
  height: 62px;

  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.discount {
 background-color: #8ed78f;
 margin-bottom: 20px;
}

.discount::before {
  content: "";

  position: absolute;

  top: 26px;
  right: 45px;

  width: 59px;
  height: 72px;

  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.deliver-info {
  background-color: #ffc047;
}

.deliver-info::before {
  content: "";

  position: absolute;

  top: 32px;
  right: 31px;

  width: 78px;
  height: 63px;

  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-block-button {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  padding-top: 12px;
  padding-bottom: 14px;
  width: 135px;
  height: 12px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.promo-block-first-wrapper .promo-block-button {
  margin-left: 2px;
}

.promo-block-button:hover {
background-color: rgba(0, 0, 0, 0.2);
}

.promo-block-button:active {
background-color: rgba(0, 0, 0, 0.3);
}

.special-service {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.25);
  width: 577px;
  height: 243px;
  padding-left: 23px;
  padding-right: 20px;
  padding-top: 23px;
  padding-bottom: 0px;
}

.service-dreli {
  background-image: url(../img/dreli.jpg);
}
.service-perforatori {
  display: none;
  background-image: url(../img/perforatori.jpg);
}

.special-service h3 {
  margin: 0;
  margin-bottom: 2px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}
.special-service p {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-left: 1px;
}

.special-service-button {
  margin-top: 121px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  width: 189px;
  height: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 6px;
}

.special-service-button:hover {
  background-color: #ca2c37;
}

.special-service-button:active {
  background-color: #ba2732;
}

.catalog-index {
  display: flex;
  flex-direction: column;
}

.brands {
  padding-bottom: 65px;
}

.catalog-index-header,
.brands-header {
  display: flex;
  padding: 27px 24px 24px 27px;
  align-items: center;
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.catalog-index-list .item:nth-child(4n) {
  margin-right: 0;
}

.catalog-index-header h2,
.brands-header h2 {
  margin: 0;
  font-weight: normal;
  color: #32425c;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.all-popular-items {
  margin-left: auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  width: 253px;
  height: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.all-brands {
  margin-left: auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  width: 253px;
  height: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.brands-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.brand-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #eaeaea;
  width: 218px;
  height: 143px;
}

.brand-card-button:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-card-button:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.brand-card {
  margin-right: 20px;
  margin-bottom: 20px;
}

.brand-card:nth-child(4n) {
  margin-right: 0;
}

.catalog-index-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.services-wrapper {
  background-color: #f4f7f9;
}

.header-top {
  height: 42px;
  display: flex;
}

.header-top a {
  color: #ffffff;
}

.main-header-logo {
  background-color: #ee3643;
  width: 109px;
  height: 18px;
  padding-left: 55px;
  padding-right: 56px;
  padding-top: 13px;
  padding-bottom: 15px;
  display: block;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-header-logo:hover,
.main-footer-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active,
.main-footer-logo:active {
  background-color: #ba2732;
}

.search {
  position: relative;
  width: 270px;
}

.input-search {
  box-sizing: border-box;
  line-height: 18px;
  width: 270px;
  height: 42px;
  color: #ffffff;
  background-color: #293449;
  border: none;
  padding-left: 48px;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-right: 21px;
  background-image: url(../img/icon-search-white-op.svg);
  background-position: 17px 50%;
  background-repeat: no-repeat;
}

.input-search:hover {
  background-image: url(../img/icon-search-white.svg);
}

.input-search:focus, .input-search:active {
  background-image: url(../img/icon-search-strawberry.svg);
}

.search-button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  height: 0;
  width: 0;
  cursor: pointer;
}

.input-search::-ms-input-placeholder {
  color: #ffffff;
}

.input-search:-ms-input-placeholder {
  color: #ffffff;
}

.input-search::-webkit-input-placeholder {
  color: #ffffff;
}

.input-search::placeholder {
  color: #ffffff;
}

.input-search:hover {
  opacity: 1;
  background-color: #212a3a;
  color: #ffffff;
}

.input-search:focus {
  background-color: #ffffff;
  color: #000000;
}

.top-header-button {
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 13px;
}

.bookmark {
  width: 105px;
  padding-left: 44px;
  padding-right: 1px;
  position: relative;
}

.bookmark::before {
  content: "";

  position: absolute;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url(../img/icon-bookmark.svg);
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.3;
}

.bookmark:hover:before,
.basket:hover:before  {
  opacity: 1;
}

.bookmark:active:before,
.basket:active:before {
  opacity: 0.3;
}

.basket {
  width: 100px;
  padding-left: 49px;
  padding-right: 1px;
  position: relative;
}

.basket::before {
  content: "";

  position: absolute;
  left: 17px;

  width: 15px;
  height: 15px;

  background-image: url(../img/icon-cart.svg);
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.3;
}

.basket-full {
  background-color: #ee3643;
}

.top-header-button:hover {
background-color: #212a3a;
}

.top-header-button:active {
  color:rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.order-button {
  background-color: #63a63e;
  line-height: 18px;
  padding-left: 20px;
  padding-right: 22px;
  width: 108px;
  padding-top: 12px;
  padding-bottom: 13px;
}

.order-button:hover {
  background-color: #5fbb2d;
}

.order-button:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header-bottom {
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.fisrt-crumb {
  margin: 0;
}

.header-bottom-container {
  display: flex;
  padding-bottom: 40px;
  padding-top: 45px;
}

.about {
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  text-align: left;
  width: 197px;
  padding-left: 52px;
  padding-top: 4px;
  margin: 0;
}

.user-menu {
  display: flex;
  margin-left: auto;
}

.phone {
  font-size: 21px;
  line-height: 21px;
}

.phone-back {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 15px;
  border: solid 3px #ffffff;
  padding-left: 66px;
  padding-right: 46px;
  padding-top: 14px;
  padding-bottom: 11px;
}

.phone-back::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 11px;
  width: 19px;
  height: 19px;

  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-bootom-phone{
  width: 270px;
  height: 68px;
  margin-left: 71px;
}

.user-container {
  margin-left: 51px;
  height: 68px;
  width: 300px;
  margin-top: 46px;
  margin-right: 130px;
  display: flex;
  flex-direction: column;
}

.header-bootom-phone a {
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
}

.address {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
  padding-top: 5px;
}

.current-user-menu {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  position: relative;
}

.current-user-button {
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  padding-top: 13px;
  padding-right: 67px;
  padding-bottom: 11px;
  padding-left: 47px;
  margin-bottom: 6px;
  margin-left: auto;
}

.current-user-button::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 18px;

  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.current-user-button:hover:before {
  background-image: url(../img/icon-user-blue.svg);
}

.current-user-button:active:before {
  background-image: url(../img/icon-user.svg);
}

.current-user-button-exit::before{
  content: "";

  position: absolute;
  top: 15px;
  right: 11px;
  width: 20px;
  height: 17px;

  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.current-user-button-exit:hover:before {
  background-image: url(../img/icon-logout-blue.svg);
}

.current-user-button-exit:active:before {
  background-image: url(../img/icon-logout.svg);
}

.user-login-link {
  position: relative;
  margin-right: 8px;
  height: 20px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 47px;
  padding-right: 27px;
}

.user-login-link::after {
  content: "";

  position: absolute;

  width: 20px;
  height: 17px;

  top: 15px;
  left: 14px;

  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-login-link:hover:after {
background-image: url(../img/icon-login-blue.svg);
}

.user-login-link:active:after {
background-image: url(../img/icon-login.svg);
}

.user-registration {
  height: 20px;
  width: 101px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 25px;
  padding-right: 24px;
}

.user-login-link,
.user-registration,
.user-current-accaunt {
  background-color: #ffffff;
}

.user-login-link:hover,
.user-registration:hover {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  background-color: #ffffff;
}

.user-login-link:active,
.user-registration:active,
.user-current-accaunt:active {
  font-size: 21px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.user-menu-container {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  text-decoration: underline;
  padding-left: 18px;
  padding-top: 3px;
}

.user-menu-container::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  border: solid 1px #000000;
  background-color: #000000;
  left: 108px;
  top: 10px;
  border-radius: 50%;
}

.small-user-button {
  color:#32425c;
}

.small-user-button:hover {
  color: #ee3643;
}

.small-user-button:active {
  color: rgba(50, 66, 92, 0.3);
}

.user-accaunt {
  margin-left: 32px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 940px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  list-style: none;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation-button a {
  padding-left: 31px;
  padding-top: 20px;
  padding-bottom: 23px;
  padding-right: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  display: block;
}

.site-navigation-button a:hover {
  background-color: #293449;
}

.site-navigation-button a:active{
  background-color: #1d2739;
  color:rgba(255, 255, 255, 0.5);
}

.services {
  color: #000000;
  display: flex;
  flex-direction: column;
  padding-top: 66px;
}

.services h3 {
  font-weight: normal;
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.services p {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 375px;
}

.services-info {
  display: flex;
  padding-top: 67px;
}

.services-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.services-list::after {
  content: "";

  position: absolute;

  top: -50px;
  right: 0;

  width: 10px;
  height: 279px;

  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-list-button {
  outline: none;
  width: 240px;
  height: 62px;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
  border: none;
  padding-left: 23px;
  text-align: left;

  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.services-list-button:focus {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0px 1px 0 0 #fff, inset 0px 1px 0 0 #fff;
}

.services-description {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 80px;
  width: 620px;
}

.block-delivery {
  height: 256px;
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;

}

.block-warranty {
  height: 283px;
  background-image: url(../img/guarantee.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;

}

.block-credit {
  height: 283px;
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;

}


 /* .block-credit, .block-warranty {
  display: none;
} */
.services-description-title {
  margin: 0;
  color: #32425c;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin-bottom: 25px;
}

.container-catalog {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0;
  padding: 0;
  height: auto;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  height: 9px;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  list-style: none;
  padding-top: 21px;
  padding-bottom: 28px;
  padding-left: 14px;
}
.crumb {
  margin-right: 41px;
  position: relative;
}

.crumb a, .current-crumb  {
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.icon-home::after {
  content: "";

  position: absolute;
  top: 2px;
  right: 0;
  width: 14px;
  height: 12px;

  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.crumb::before {
  content: "";

  position: absolute;
  top: 2px;
  right: -24px;

  width: 8px;
  height: 12px;

  background-image: url(../img/crumb.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.crumb:last-child {
  margin-right: 0;
}

.current-crumb::after {
  display: none;
}

.page-title {
  margin: 0;
  font-weight: 400;
  color: #32425c;
  background-color: #f2f6f8;
  font-size: 30px;
  line-height: 30px;
  height: 23px;
  padding-top: 31px;
  padding-bottom: 36px;
  padding-left: 28px;
  margin-bottom: 20px;
}

.filter-titlee {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  background-color: #f7f3ec;
  width: 51px;
  height: 28px;
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 11px;
  padding-right: 149px;
  font-weight: 100;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 22px;
  margin-bottom: 16px;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter fieldset:nth-child(2n) {
  margin-bottom: 17px;
  padding-bottom: 0;
}

.filter fieldset:nth-child(3n) {
  border: none;
  margin-bottom: 36px;
}

.filter legend {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.filter ul {
  margin: 0;
  padding: 0;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 23px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox + label:hover:before {
  background-image: url(../img/checkbox-off-hover.svg);
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top:-3px;
  left: -35px;
  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label:hover::after {
  background-image: url(../img/checkbox-on-hover.svg);
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  top:-4px;
  left: -35px;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-radio + label:hover:before {
  background-image: url(../img/radio-off-hover.svg);
}

.filter-input-radio:checked + label::after{
  content: "";

  position: absolute;
  top:-4px;
  left: -35px;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-radio:checked + label:hover:after {
  background-image: url(../img/radio-on-hover.svg);
}

.catalog-columns {
  display: flex;
  margin-bottom: 60px;
}

.catalog {
  padding-left: 20px;
}

.sorting {
  display: flex;
  width: 700px;
  height: 38px;
  margin-bottom: 20px;
  color: #000000;
  background-color: #f7f3ec;
}

.sorting-wrapper {
  display: flex;
  padding: 9px 17px 11px 19px;

}

.sorting-title {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  font-weight: normal;
}

.sorting-list {
  margin: 0;
  padding: 0;
  margin-left: 140px;
  display: flex;
  list-style: none;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-property {
  margin-right: 69px;
}
.sorting-property label {
  cursor: pointer;
  user-select: none;

  border-bottom: 1px dotted #ee3643;
}
.sorting-input-radio:checked + label {
  border: none;
  color: #ee3643;
}

.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  list-style: none;
  height: 38px;
}

.pagination-item {
  text-decoration: none;
  color: #000000;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #e5e5e5;
  width: 38px;
  margin-right: 8px;
  height: 38px;
  border-radius: 3px;
}

.pagination-item:hover {
  border-color: #bdc6ca;
}

.pagination-item:active {
  border-color: #ee3643;
}

.next-pagination-item {
  width:140px;
  height: 38px;
}

.pagination-item-current {
  background-color: #ee3643;
}

.catalog-list .item:nth-child(3n) {
  margin-right: 0;
}

.item {
  text-align: center;
  display: block;
  width: 218px;
  height: 316px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  position: relative;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.item .new-flag {
  background: url(../img/new-flag.png) no-repeat 0 0;
}

.hidden {
  visibility: hidden;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
}

.filter-button {
  padding: 0;
  justify-content: center;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  border: solid 1px #e5e5e5;
  color: #000000;
  background-color: #ffffff;
  border-radius: 3px;
  height: 38px;
  width: 140px;
}

.catalog-list {
  list-style: none;
  margin-bottom: 31px;
}

.item-title {
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
  font-weight: bold;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.item p {
  margin: 0;
  width: 218px;
  height: 170px;
}

.old-price {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  color: #999999;
  background-color: #ffffff;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
}

.new-price {
  display: block;
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  font-family: "PT Sans", Arial, sans-serif;
  color: white;
  background: #fff;
  border-radius: 3px;
  font-size: 17px;
  line-height: 18px;
  background-image: url(../img/item-button.svg);
  background-repeat: no-repeat;
}

.button-sale {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 44px 0;

  background-color: rgba(255,255,255,1);
  z-index: 10;
}

.button-buy,
.button-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.button-bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
  padding: 7px 0;
}

.button-bookmark:hover {
  border-color: #32425c;
}

.button-bookmark:active {
  opacity: 0.3;
}

.button-sale {
  display: none;
}

.item:hover .button-sale {
  display: block;
}

.item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.button-buy {
  position: relative;
  border: none;
  padding: 10px 3px;
  background-color: #63a63e;
  text-align: center;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.button-buy:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
}

.button-buy:active {
  background-color: #518534;
  border-color: #518534;
}

.button-buy::after {
  content: "";

  position: absolute;

  width: 15px;
  height: 15px;

  left: 12px;
  top: 10px;

  background-image: url(../img/cart-icon.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-buy:hover::after {
  background-image: url(../img/cart-icon-white.png);
}

.button-order {
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425c;
  text-align: center;
}

.button-order:hover {
  border: solid 3px #32425c;
}

.button-order:active {
  opacity: 0.3;
}

.delivery {
  display: flex;
  padding-top: 81px;
  padding-bottom: 86px;
}

.delivery-info {
  margin-right: 97px;
  display: flex;
  flex-direction: column;
}

.contacts {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.delivery-info-title,
.contacts-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  text-align: left;
  font-size: 30px;
  line-height: 30px;
  color:#000000;
}

.postal-services {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: left;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.postal-services-item {
  position: relative;
  margin-top: 20px;
  padding-left: 35px;
}

.postal-services-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.delivery-middle-container p {
  width: 400px;
  margin: 0;
}

.delivery-middle-container {
  height: 161px;
  margin-bottom: 44px;
}

.delivery-info-text,
.contacts-text {
  padding: 0;
  margin: 0;
  text-align: left;
  color:#000000;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.about-company,
.map-button {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  height: 12px;
  padding-top: 14px;
  padding-bottom: 12px;
}

.about-company {
  width: 140px;
  padding-left: 41px;
  padding-right: 39px;
}

.map-button {
  padding-left: 63px;
  padding-right: 55px;
}

.delivery-info-text {
  width: 542px;
  margin-bottom: 24px;
}

.contacts-text {
  width: 185px;
  margin-bottom: 31px;
}

.map {
  margin-bottom: 37px;
  display: block;
}

.somewords-wrapper {
  background-color: #f4f7f9;
}

.somewords {
  height: 121px;
  color: #000000;
  padding-top: 67px;
  padding-bottom: 73px;
}

.somewords h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin-top: 0;
  font-weight: normal;
}

.somewords p {
  font-family: "PT Sans", Arial, sans-serif;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 24px;
}

.footer-top-wrapper {
  background-color: #32425c;
}

.footer-top {
  display: flex;
  height: 193px;
  font-size: 18px;
  line-height: 24px;
  flex-direction: column;
}

.main-footer-logo {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  height: 23px;
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer-top-up,
.footer-top-down {
  display: flex;
}

.footer-top-up {
  height: 68px;
  margin-bottom: 28px;
}

.footer-top-down {
  height: 42px;
}

.footer-top-down {
  display: flex;
}

.bottom-navigation-button {
  margin-left: 60px;
  margin-bottom: 6px;
}

.footer-top-address {
  width: 323px;
  color: #f1f5f7;
  padding: 0;
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-left: 3px;
}

.bottom-navigation-up {
  align-items: flex-end;
}

.bottom-navigation-up,
.bottom-navigation-down {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.bottom-navigation-up a {
  color: #f1f5f7;
}

.bottom-navigation-down a {
  color: #ffd180;
}

.bottom-navigation-up a:hover,
.bottom-navigation-down a:hover {
  text-decoration: underline;
}

.bottom-navigation-up a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

.bottom-navigation-down a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom-wrapper {
  color: #ffffff;
  background-color: #293449;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  height: 72px;
  padding-top: 35px;
}

.technomart {
  width: 403px;
  height: 42px;
  margin: 0;
  padding-top: 2px;
  margin-right: 161px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212a3a;
  width: 42px;
  height: 42px;
  margin-left: 3px;
  border-radius: 50%;
}

.socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.feedback-mail {
  margin: 0;
  height: 42px;
  text-align: left;
  margin-left: 118px;
  padding-top: 2px;
}

.footer-feedback {
  margin: 0;
  text-align: left;
  height: 42px;
  margin-left: 52px;
  padding-top: 2px;
}

.feedback-link {
  color: #ffd180;
}

.feedback-link:hover {
  text-decoration: underline;
}

.feedback-link:active {
  text-decoration: none;
  color: #ee3643;
}

.modal-feedback {
  top: 240px;
  left: 50%;

  display: flex;
  flex-direction: column;
  border-top: solid 7px #ee3643;
  width: 620px;
  height: 430px;
  margin-left: -300px;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);

  display: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
}

.feedback-form {
  padding: 0;
  margin: 0;
  height: 430px;
  display: flex;
  flex-direction: column;
  padding-top: 48px;
}

.modal-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

.modal-wrapper-half {
  display: block;
}

.modal-wrapper label {
  display: block;
}

.modal-wrapper input {
  outline: none;
  display: block;
  width: 200px;
  height: 32px;
  border: solid 2px #dee3e4;
  background-color: #ffffff;
  margin-top: 13px;
  border-radius: 3px;
  padding-left: 16px;
}

.modal-wrapper input:hover {
  border-color: #b5b5b5;
}

.modal-wrapper input:focus {
  border-color: #ee3643;
}

.modal-wrapper-textarea {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 22px;
}

.modal-wrapper-textarea textarea {
  resize: none;
  outline: none;
  width: 438px;
  height: 111px;
  margin-top: 13px;
  margin-bottom: 37px;
  border: solid 2px #dee3e4;
  background-color: #ffffff;
  border-radius: 3px;
  padding-left: 16px;
  padding-top: 13px;
}

.feedback-button {
  color: #ffffff;
  padding: 0;
  margin: 0;
  border: 0;
  width: 460px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 3px;
  cursor: pointer;
}

.modal-buy {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: solid 7px #ee3643;
  width: 620px;
  height: 282px;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-buy-title{
  padding: 0;
  margin: 0;
  position: relative;
  color: #000000;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 30px;
  padding: 75px 125px 68px 179px;
}

.modal-buy-title::before {
  position: absolute;
  content: "";

  width: 66px;
  height: 66px;

  left: 81px;
  top: 55px;

  background-image: url(../img/modal-check.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-bottom {
  display: flex;
  background-color: #f1f1f1;
  padding: 37px 80px;
}

.buy-final-button {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  padding: 14px 62px 14px 59px;
  height: 10px;
}

.continue-button {
  padding: 0;
  justify-content: center;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  border: solid 1px #e5e5e5;
  color: #000000;
  background-color: #ffffff;
  border-radius: 3px;
  height: 38px;
  width: 220px;

  cursor: pointer;
}

.modal-close {
  padding: 0;
  border: none;
}

.modal-close::before {
  content: "";

  position: absolute;

  right: 9px;
  top: 9px;
  width: 21px;
  height: 21px;

  background-image: url(../img/modal-close.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  cursor: pointer;
}

.modal-map {
  top: 25px;
  left: 50%;

  margin: 0;
  padding: 0;
  display: none;
  margin-left: -470px;

  width: 940px;
  height: 446px;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  z-index: 30;

  background-image: url(../img/bigmap.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.sorting-direction label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.sorting-direction-input-radio + .sorting-up::after {
  content: "";
  position: absolute;

  top: 4px;
  right: 14px;

  width: 11px;
  height: 10px;

  background-image: url(../img/icon-up-dir.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.sorting-direction-input-radio:checked + .sorting-up::after {
  content: "";
  position: absolute;

  top: 4px;
  right: 14px;

  width: 11px;
  height: 10px;

  background-image: url(../img/icon-up-dir-active.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.sorting-direction-input-radio + .sorting-down::after {
  content: "";
  position: absolute;

  top: 4px;
  right: -18px;

  width: 11px;
  height: 10px;

  background-image: url(../img/icon-down-dir.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.sorting-direction-input-radio:checked + .sorting-down::after {
  content: "";
  position: absolute;

  top: 4px;
  right: -18px;

  width: 11px;
  height: 10px;

  background-image: url(../img/icon-down-dir-active.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.modal {
  position: fixed;
}

.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f7f3ec;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 140px;
}

.price-controls label {
  color: #000000;
  outline: none;
}

.price-controls {
  font-size: 0;
}

.price-controls input {
  width: 85px;
  padding: 9px 5px 14px 5px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000000;

  border: none;
  border-radius: 5px;
  background-color: #f7f3ec;
}

.max-price {
  margin-left: 30px;
}

.modal-show {
  display: block;
}
